.background
    height: 100%
    left: 0
    position: absolute
    top: 0
    width: 100%
    position: relative
    z-index: 1


    &__leftline       
        left: 2vw
        height: 400vh
        position: absolute
        top: 60vh