.background
    height: 100%
    left: 0
    position: absolute
    top: 0
    width: 100%
    z-index: 1


    &__leftline       
        left: 8vw
        height: 400vh
        position: absolute
        top: 70vh

    &__circle
        left: 7.9vw
        position: absolute

        &--1
            top: 70vh

        &--2
            top: 184vh

        &--3
            top: 264vh

        &--4
            top: 340vh

    &__malla
        left: 10vw
        max-height: 75vh
        max-width: 90%
        position: absolute
        top: 25vh

    