.footer
    color: white
    display: grid
    grid-template-columns: 1fr 15rem 5rem
    grid-template-rows: 2fr 1fr 2rem
    height: 50vh
    padding: 3rem 0 3rem 3rem

    &__localidad
        align-items: flex-start
        display: flex
        flex-flow: row nowrap 
        gap: .7rem
        grid-column: 1/2 
        grid-row: 1/2 

    &__localidadIcon

    &__datos
        display: flex
        flex-flow: column nowrap 
        font-size: 1.1rem
        gap: 1.5rem
        grid-column: 1/2 
        grid-row: 2/4
        justify-content: flex-end

    &__dato
        line-height: 2rem
        margin: 0

    &__copyright
        align-items: center
        display: flex
        flex-flow: row nowrap 
        font-size: 1.1rem
        gap: .7rem
        grid-column: 2/3 
        grid-row: 3/4 
        line-height: 2rem
        margin: 0

    &__copyrightIcon

    &__scrollUpLink
        align-items: center
        display: flex
        flex-flow: row nowrap
        grid-column: 3/4 
        grid-row: 1/4
        justify-content: space-between    
        height: 1.5rem    
        margin: auto 2rem auto 0
        transform: rotate(-90deg)
        width: 6rem

        &:link 
            color: white
            text-decoration: none

        &:visited 
            color: white

    &__scrollUp
        margin-bottom: .5rem
        font-weight: 300

    &__flechaIcono
        height: 1.5rem
        transform: rotate(-90deg)
    
    &__profesional
        display: none

@media (max-width: 768px) 
    .footer
        grid-template-columns: 1fr 5rem
        grid-template-rows: 1fr 2fr 1fr 1fr
        padding-top: 15rem

        &__localidad
            align-items: center
            font-size: 1.7rem
            font-weight: 300

        &__datos
            grid-column: 1/2 
            grid-row: 2/3
            font-size: 1.7rem
            font-weight: 300
            justify-content: center
        
        &__dato--contacto            
            font-weight: 600

        &__copyright
            grid-column: 1/3 
            grid-row: 3/4 
            font-size: 1.7rem
            font-weight: 300
            justify-content: center

        &__scrollUpLink
            grid-column: 2/3 
            grid-row: 1/4

        &__profesional
            display: flex
            flex-flow: row nowrap
            gap: 3rem
            grid-column: 1/3 
            grid-row: 4/5
            justify-content: center
            margin-top: 1rem

@media (max-width: 576px) 
    .footer
        grid-template-columns: 72vw 7vw

@media (max-width: 330px) 
    .footer
        padding-left: 2rem