.footer
    color: white
    display: grid
    grid-template-columns: 1fr 15rem 5rem
    grid-template-rows: 2fr 1fr 1fr
    height: 50vh
    padding-left: 3rem

    &__localidad
        align-items: center
        display: flex
        flex-flow: row nowrap 
        gap: .7rem
        grid-column: 1/2 
        grid-row: 1/2 

    &__localidadIcon

    &__datos
        display: flex
        flex-flow: column nowrap 
        font-size: 1.1rem
        gap: .7rem
        grid-column: 1/2 
        grid-row: 2/4

    &__dato

    &__copyright
        align-items: center
        display: flex
        flex-flow: row nowrap 
        font-size: 1.1rem
        gap: .7rem
        grid-column: 2/3 
        grid-row: 3/4 

    &__copyrightIcon

    &__scrollUpLink
        grid-column: 3/4 
        grid-row: 1/4 

    &__scrollUp

    &__flechaIcono