.header 
    align-items: center
    color: white
    display: flex
    flex-flow: row nowrap
    grid-row: 2 / 3
    justify-content: space-between
    max-height: 68rem
    position: relative
    z-index: 2

    &:before
      content: ""
      display: inline-block
      width: 2rem
      height: 2rem
      background: $secondary
      position: absolute
      left: 0
      top: 20rem
      border-radius: 50%


    &__principal
        display: flex
        flex-flow: column nowrap
        justify-content: center
        padding-left: 7.5rem

    &__saludoInicial 
        font-size: 5rem   
        font-weight: 500
        line-height: 1em
        letter-spacing: .3rem
        margin: .5rem 0
        opacity: 0
        transform: translate(-15rem, -20rem) scale(.6)

        &--hola 
            margin-left: .5rem

    &__letraDInicio
        max-width: 1.3ch

    &__david
        white-space: nowrap

    &__subSaludoInicial 
        font-size: 2rem
        font-weight: 300
        line-height: 1em
        margin: 1rem 0
        opacity: 0
        transform: translate(-15rem, -20rem) scale(.6)
        width: 78%

    &__botonContacto 
        background: transparent
        background: transparent
        border: solid 1.5px $secondary
        border-radius: 2rem
        font-size: 1rem    
        height: 3.5rem   
        line-height: 3.5rem
        margin: 2rem 0 
        opacity: 0
        text-align: center
        text-transform: uppercase
        width: 11rem
        
        &:link  
            color: $secondary
            text-decoration: none   
        &:visited    
            color: $secondary  


    &__scrollDownLink 
        align-items: center
        display: flex
        flex-flow: row nowrap
        justify-content: space-between    
        height: 1.5rem    
        margin: 7rem 0 0 -4.5rem
        transform: rotate(90deg)
        width: 9rem

        &:link 
            color: white
            text-decoration: none

        &:visited 
            color: white


    &__scrollDown 
        margin-bottom: .5rem
        font-weight: 300


    &__flechaIcono 
        height: 1.5rem
        transform: rotate(-90deg)


    &__profesional 
        display: flex
        flex-flow: column nowrap
        opacity: 0
        padding: 0 1rem 8rem


    &__profesionalIconos 
        margin: .5rem

@media (max-width: 576px)
    .header 
        &__profesional
            display: none



@keyframes iconos
    0%
        opacity: 0
    100%
        opacity: 1

@keyframes textoparte1
    0%
        opacity: 0
    100%
        opacity: 1

@keyframes textoparte2
    0%
        transform: translate(-15rem, -20rem) scale(.6)
    100%     
        transform: translate(0,0) scale(1)   

@keyframes boton
    0%
        opacity: 0
    100%
        opacity: 1