/** Variables **/
    
$primary: #1a1a1a
$secondary: #2BEBC8
$tertiary: #6846ED

/** Estilos generales **/

html
  scroll-behavior: smooth
  
body 
  background-color: $primary
  font-family: IBM Plex Mono
  font-style: normal
  margin: 0
  padding: 0
    
.app
  background: $primary
  display: grid
  grid-template-rows: 5rem 5fr repeat( 3 , 4fr)  
  margin: -1.2rem 3rem 0 3rem
  padding: 4.2rem 3rem 3rem 3rem
  
  &:before
    background: $secondary
    content: ""
    display: inline-block
    height: 170rem
    left: 7rem
    position: absolute
    top: 30rem
    width: .1rem
    

  
/** app mq **/

@media (max-width: 992px)
  .app
    grid-template-rows: 5rem repeat( 4 , 1fr)  

    &:before
      height: 350rem

@media (max-width: 768px) 
  .app:before
    height: 335rem


@media (min-width: 422px) and (max-width: 576px)
  .app:before

@media (max-width: 576px)
  .app
    grid-template-rows: 5rem 3.5fr repeat( 3 , 4fr)  
    margin: -1.2rem 3rem 0 1rem
    padding: 4.2rem 3rem 3rem 1rem 
    &:before
      left: 3rem     

@media (max-width: 422px)
  .app
    &:before
      height: 560%
      max-height: 355rem
    
  
/** root mq **/
  
@media (max-width: 576px) 
  \:root
    font-size: 10px



@media (min-width: 576px) and (max-width: 768px) 
  \:root
    font-size: 10px
    
  


@media (min-width: 768px) and (max-width: 992px) 
  \:root
    font-size: 10px
    
  


@media (min-width: 992px) and (max-width: 1200px) 
  \:root
    font-size: 12px
    
  


@media (min-width: 1200px) and (max-width: 1400px) 
  \:root
    font-size: 14px
  


@media (min-width: 1400px)
  \:root
    font-size: 16px

/** Imports **/

@import "titulo"
@import "presentacion"
@import "miPortafolio"
@import "sobreMi"
@import "misHabilidades"
@import "contacto"
@import "footer"
@import "whatsapp"

@import "background"