/** Variables **/
/** Estilos generales **/
html {
  scroll-behavior: smooth; }

body {
  background-color: black;
  font-family: IBM Plex Mono;
  font-style: normal;
  margin: 0;
  padding: 0; }

.app {
  background: #1a1a1a;
  display: grid;
  grid-template-rows: 5rem 3fr repeat(3, 2fr);
  margin: -1.2rem 3rem 0 3rem;
  overflow: hidden;
  padding: 4.2rem 3rem 3rem 3rem; }
  .app:before {
    background: #2BEBC8;
    content: "";
    display: inline-block;
    height: 190rem;
    left: 7rem;
    position: absolute;
    top: 30rem;
    width: .1rem; }

/** app mq **/
@media (max-width: 992px) {
  .app {
    grid-template-rows: 5rem repeat(4, 1fr); }
    .app:before {
      height: 350rem; } }

@media (max-width: 768px) {
  .app:before {
    height: 335rem; } }

@media (min-width: 422px) and (max-width: 576px) {
  .app:before {
    height: 290rem; } }

/** root mq **/
@media (max-width: 576px) {
  :root {
    font-size: 8px; } }

@media (min-width: 576px) and (max-width: 768px) {
  :root {
    font-size: 10px; } }

@media (min-width: 768px) and (max-width: 992px) {
  :root {
    font-size: 10px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  :root {
    font-size: 12px; } }

@media (min-width: 1200px) and (max-width: 1400px) {
  :root {
    font-size: 14px; } }

@media (min-width: 1400px) {
  :root {
    font-size: 16px; } }

/** Imports **/
.titulo {
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
  grid-row: 1 / 2;
  letter-spacing: .45rem;
  margin: 0 1rem;
  text-transform: uppercase;
  position: relative;
  z-index: 2; }

.header {
  align-items: center;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  grid-row: 2 / 3;
  justify-content: space-between;
  max-height: 72rem;
  position: relative;
  z-index: 2; }
  .header:before {
    content: "";
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: #2BEBC8;
    position: absolute;
    left: 0;
    top: 20rem;
    border-radius: 50%; }
  .header__principal {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-left: 7.5rem; }
  .header__saludoInicial {
    font-size: 5rem;
    font-weight: 500;
    line-height: 6rem;
    margin: .5rem 0;
    letter-spacing: .3rem; }
    .header__saludoInicial--hola {
      margin-left: .5rem; }
  .header__letraDInicio {
    max-width: 1.3ch; }
  .header__david {
    white-space: nowrap; }
  .header__subSaludoInicial {
    font-size: 2rem;
    font-weight: 300;
    line-height: 2rem;
    margin: 1rem 0;
    width: 78%; }
  .header__botonContacto {
    background: transparent;
    background: transparent;
    border: solid 1.5px #2BEBC8;
    border-radius: 2rem;
    font-size: 1rem;
    height: 3.5rem;
    line-height: 3.5rem;
    margin: 2rem 0;
    text-align: center;
    text-transform: uppercase;
    width: 11rem; }
    .header__botonContacto:link {
      color: #2BEBC8;
      text-decoration: none; }
    .header__botonContacto:visited {
      color: #2BEBC8; }
  .header__scrollDownLink {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 1.5rem;
    margin: 7rem 0 0 -4.5rem;
    transform: rotate(90deg);
    width: 9rem; }
    .header__scrollDownLink:link {
      color: white;
      text-decoration: none; }
    .header__scrollDownLink:visited {
      color: white; }
  .header__scrollDown {
    margin-bottom: .5rem;
    font-weight: 300; }
  .header__flechaIcono {
    height: 1.5rem;
    transform: rotate(-90deg); }
  .header__profesional {
    display: flex;
    flex-flow: column nowrap;
    padding: 0 1rem 8rem; }
  .header__profesionalIconos {
    margin: .5rem; }

@media (max-width: 576px) {
  .header__profesional {
    display: none; } }

.miPortfolio {
  color: white;
  display: flex;
  flex-flow: column nowrap;
  grid-row: 3 / 4;
  justify-content: start;
  padding-top: 7.5rem;
  padding-left: 7.5rem;
  position: relative;
  z-index: 2; }
  .miPortfolio:before {
    content: "";
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: #2BEBC8;
    position: absolute;
    left: 0;
    top: 8.5rem;
    border-radius: 50%; }
  .miPortfolio__titulo {
    font-size: 3rem;
    font-weight: 500;
    line-height: 3rem;
    margin: .5rem 0;
    letter-spacing: .3rem;
    white-space: nowrap; }
  .miPortfolio__subtitulo {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.5rem;
    margin: 1rem 0;
    width: 78%; }
  .miPortfolio__cuerpo {
    display: flex;
    flex-flow: row nowrap;
    gap: 3rem;
    height: 100%;
    justify-content: center;
    margin: 2rem; }
  .miPortfolio__card {
    background-image: url("../../assets/imagen/imagen_prueba.jpg");
    height: 80%;
    width: 22%; }
    .miPortfolio__cardGradient {
      align-content: center;
      background: white;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, black 100%);
      display: flex;
      flex-flow: column nowrap;
      height: 100%;
      justify-content: flex-end;
      width: 100%; }
    .miPortfolio__cardLink {
      display: flex;
      flex-flow: row nowrap;
      gap: 1rem;
      justify-content: center; }
      .miPortfolio__cardLink:link {
        color: white;
        text-decoration: none; }
      .miPortfolio__cardLink:visited {
        color: white; }
    .miPortfolio__card--up {
      align-self: flex-start; }
    .miPortfolio__card--down {
      align-self: flex-end; }

@media (max-width: 992px) {
  .miPortfolio__cuerpo {
    flex-flow: column nowrap;
    padding: 2rem 20%; }
  .miPortfolio__card {
    max-width: 18rem;
    width: 70%; } }

@media (min-width: 576px) and (max-width: 768px) {
  .miPortfolio__cuerpo {
    padding: 2rem 10%; } }

@media (max-width: 576px) {
  .miPortfolio__cuerpo {
    padding: 0 5%; } }

.sobreMi {
  color: white;
  display: grid;
  grid-row: 4 / 5;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 8rem 1fr;
  padding-top: 7.5rem;
  padding-left: 7.5rem;
  position: relative;
  z-index: 2; }
  .sobreMi:before {
    content: "";
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: #2BEBC8;
    position: absolute;
    left: 0;
    top: 8.5rem;
    border-radius: 50%; }
  .sobreMi__titulos {
    grid-column: 1/2;
    grid-row: 1/2; }
  .sobreMi__titulo {
    font-size: 3rem;
    font-weight: 500;
    line-height: 3rem;
    margin: .5rem 0;
    letter-spacing: .3rem;
    white-space: nowrap; }
  .sobreMi__cvSeccion {
    align-items: center;
    display: flex;
    flex-flow: ron nowrap; }
  .sobreMi__cuerpo {
    display: flex;
    flex-flow: column nowrap;
    grid-column: 1/2;
    grid-row: 2/2; }
  .sobreMi__descargaCvTexto {
    color: #6846ED;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5rem;
    margin: 1rem 0;
    letter-spacing: .1rem; }
  .sobreMi__descargaCvBoton {
    align-items: center;
    background: #6846ED;
    border: solid 1px #6846ED;
    border-radius: 2rem;
    color: white;
    display: flex;
    gap: .5em;
    flex-flow: row nowrap;
    height: 2em;
    justify-content: center;
    margin: 0 2rem;
    padding: .1em 2em;
    width: 15%; }
    .sobreMi__descargaCvBoton:link {
      text-decoration: none; }
  .sobreMi__descargaCvBotonTexto {
    margin: 0; }
  .sobreMi__descargaCvBotonIcon {
    max-height: 80%; }
  .sobreMi__parrafo {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.5rem;
    margin: 1rem 0;
    width: 90%; }
  .sobreMi__botonLinkedIn {
    background: transparent;
    border: solid 1.5px #2BEBC8;
    border-radius: 2rem;
    font-size: 1rem;
    height: 3.5rem;
    line-height: 3.5rem;
    margin: 2rem 0;
    text-align: center;
    text-transform: uppercase;
    width: 11rem; }
    .sobreMi__botonLinkedIn:link {
      color: #2BEBC8;
      text-decoration: none; }
    .sobreMi__botonLinkedIn:visited {
      color: #2BEBC8; }
  .sobreMi__imagen {
    grid-column: 2/3;
    grid-row: 1/3;
    margin: 1rem auto 0;
    max-width: 50%;
    min-width: 36rem; }

@media (max-width: 992px) {
  .sobreMi {
    grid-template-columns: 1fr;
    grid-template-rows: 8rem repeat(2, 1fr); }
    .sobreMi__cuerpo {
      grid-column: 1/2;
      grid-row: 3/4; }
    .sobreMi__imagen {
      grid-column: 1/2;
      grid-row: 2/3; }
    .sobreMi__parrafo {
      line-height: 2rem; } }

@media (max-width: 576px) {
  .sobreMi__titulo {
    font-size: 2rem; }
  .sobreMi__imagen {
    min-width: 28rem; } }

.misHabilidades {
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 4rem 1fr;
  grid-row: 5 / 6;
  justify-content: start;
  padding: 7.5rem 0 7.5rem 7.5rem;
  position: relative;
  z-index: 2; }
  .misHabilidades:before {
    content: "";
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: #2BEBC8;
    position: absolute;
    left: 0;
    top: 8.5rem;
    border-radius: 50%; }
  .misHabilidades__cuerpo {
    display: flex;
    flex-flow: column nowrap;
    grid-column: 1/2;
    grid-row: 2/2; }
  .misHabilidades__titulo {
    font-size: 3rem;
    font-weight: 500;
    grid-column: 1/2;
    grid-row: 1/2;
    line-height: 3rem;
    margin: .5rem 0;
    letter-spacing: .3rem;
    white-space: nowrap; }
  .misHabilidades__parrafo {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.5rem;
    margin: 1rem 0;
    width: 90%; }
    .misHabilidades__parrafo--verde {
      color: #2BEBC8; }
  .misHabilidades__botonHablemos {
    background: transparent;
    border: solid 1.5px #2BEBC8;
    border-radius: 2rem;
    font-size: 1rem;
    height: 3.5rem;
    line-height: 3.5rem;
    margin: 2rem 0;
    text-align: center;
    text-transform: uppercase;
    width: 11rem; }
    .misHabilidades__botonHablemos:link {
      color: #2BEBC8;
      text-decoration: none; }
    .misHabilidades__botonHablemos:visited {
      color: #2BEBC8; }
  .misHabilidades__imagen {
    grid-column: 2/3;
    grid-row: 1/3;
    margin: 1rem auto 0;
    max-width: 50%;
    min-width: 36rem; }

@media (max-width: 992px) {
  .misHabilidades {
    grid-template-columns: 1fr;
    grid-template-rows: 8rem repeat(2, 1fr); }
    .misHabilidades__cuerpo {
      grid-column: 1/2;
      grid-row: 3/4; }
    .misHabilidades__imagen {
      grid-column: 1/2;
      grid-row: 2/3;
      margin: 3rem auto 3rem; }
    .misHabilidades__parrafo {
      line-height: 2rem; } }

@media (max-width: 576px) {
  .misHabilidades__titulo {
    font-size: 2rem; }
  .misHabilidades__imagen {
    min-width: 28rem; } }

.contacto {
  height: 70vh;
  margin-top: 10rem;
  padding: 10vh, 0;
  z-index: 3; }
  .contacto__background {
    align-items: center;
    background: url("../../assets/backgroundElements/mapa.svg") repeat no-repeat;
    display: flex;
    flex-flow: row wrap-reverse;
    height: 70vh;
    justify-content: space-evenly;
    padding: 0 6%; }
  .contacto__cuerpo {
    align-self: start;
    display: flex;
    flex-basis: 45%;
    flex-grow: 1;
    flex-flow: column nowrap;
    height: 80%;
    justify-content: space-between;
    padding-top: 8%; }
  .contacto__gMapsBoton {
    align-items: center;
    background: #989898;
    border-radius: 5px;
    display: flex;
    gap: 1rem;
    flex-flow: row nowrap;
    font-size: 1rem;
    height: 2rem;
    justify-content: center;
    opacity: .8;
    padding: .3em 2em;
    width: 15rem; }
    .contacto__gMapsBoton:link {
      color: white;
      text-decoration: none; }
    .contacto__gMapsBoton:visited {
      color: white; }
  .contacto__gMapsBotonTexto {
    line-height: 2rem;
    margin: 0; }
  .contacto__titulo {
    color: white;
    font-size: 3rem;
    font-weight: 500;
    line-height: 3rem; }
  .contacto__form {
    background: #EFEFEF;
    border-radius: 10px;
    flex-basis: 55%;
    flex-grow: 1;
    position: relative;
    top: 3vh; }
  .contacto__fieldset {
    display: flex;
    border: none;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    height: 60vh;
    margin: 3.5rem; }
  .contacto__legend {
    color: #848484;
    font-size: .8rem; }
  .contacto__inputText {
    background: transparent;
    border: none;
    border-bottom: 1px solid #828282;
    color: #4F4F4F;
    font-size: 1.2rem;
    line-height: 2rem;
    max-width: 90%; }
  .contacto__inputBoton {
    align-items: center;
    background: #2BEBC8;
    border: none;
    border-radius: 30px;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    font-size: 1rem;
    gap: .5rem;
    justify-content: center;
    line-height: 1.6rem;
    max-width: 20rem;
    padding: 1.2em 3em;
    position: relative;
    right: -55%;
    top: 3.7rem; }
  .contacto__inputBotonIcon {
    display: none;
    height: 1.5rem; }

@media (max-width: 768px) {
  .contacto__cuerpo {
    height: 5rem; }
  .contacto__gMapsBoton {
    display: none; }
  .contacto__inputBotonIcon {
    display: inline-block; }
  .contacto__background {
    flex-flow: row wrap;
    justify-content: flex-start; } }

@media (max-width: 576px) {
  .contacto__form {
    flex-grow: 0;
    min-width: 75%;
    padding-right: 10%; }
  .contacto__fieldset {
    margin: 3rem 2rem; }
  .contacto__inputBoton {
    min-width: 50vw;
    right: -20%; }
  .contacto__titulo {
    font-size: 2rem; } }

.footer {
  color: white;
  display: grid;
  grid-template-columns: 1fr 15rem 5rem;
  grid-template-rows: 2fr 1fr 2rem;
  height: 50vh;
  padding: 3rem 0 3rem 3rem; }
  .footer__localidad {
    align-items: flex-start;
    display: flex;
    flex-flow: row nowrap;
    gap: .7rem;
    grid-column: 1/2;
    grid-row: 1/2; }
  .footer__datos {
    display: flex;
    flex-flow: column nowrap;
    font-size: 1.1rem;
    gap: 1.5rem;
    grid-column: 1/2;
    grid-row: 2/4;
    justify-content: flex-end; }
  .footer__dato {
    line-height: 2rem;
    margin: 0; }
  .footer__copyright {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    font-size: 1.1rem;
    gap: .7rem;
    grid-column: 2/3;
    grid-row: 3/4;
    line-height: 2rem;
    margin: 0; }
  .footer__scrollUpLink {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    grid-column: 3/4;
    grid-row: 1/4;
    justify-content: space-between;
    height: 1.5rem;
    margin: auto 2rem auto 0;
    transform: rotate(-90deg);
    width: 6rem; }
    .footer__scrollUpLink:link {
      color: white;
      text-decoration: none; }
    .footer__scrollUpLink:visited {
      color: white; }
  .footer__scrollUp {
    margin-bottom: .5rem;
    font-weight: 300; }
  .footer__flechaIcono {
    height: 1.5rem;
    transform: rotate(-90deg); }
  .footer__profesional {
    display: none; }

@media (max-width: 768px) {
  .footer {
    grid-template-columns: 1fr 5rem;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    padding-top: 15rem; }
    .footer__localidad {
      align-items: center;
      font-size: 1.7rem;
      font-weight: 300; }
    .footer__datos {
      grid-column: 1/2;
      grid-row: 2/3;
      font-size: 1.7rem;
      font-weight: 300;
      justify-content: center; }
    .footer__dato--contacto {
      font-weight: 600; }
    .footer__copyright {
      grid-column: 1/3;
      grid-row: 3/4;
      font-size: 1.7rem;
      font-weight: 300;
      justify-content: center; }
    .footer__scrollUpLink {
      grid-column: 2/3;
      grid-row: 1/4; }
    .footer__profesional {
      display: flex;
      flex-flow: row nowrap;
      gap: 3rem;
      grid-column: 1/3;
      grid-row: 4/5;
      justify-content: center;
      margin-top: 1rem; } }

.whatsapp {
  bottom: 3rem;
  position: fixed;
  right: 6rem;
  transition: transform .5s;
  z-index: 4; }
  .whatsapp__imagen {
    width: 5rem; }
  .whatsapp:hover {
    animation: "whatsapp" ease;
    transform: scale(1.2); }

.background {
  height: 100%;
  right: 40%;
  position: absolute;
  top: 0%;
  width: 100%;
  z-index: 1; }
  .background__blackCircle {
    position: absolute;
    width: 30%; }
    .background__blackCircle--1desktop {
      top: 85%;
      right: 0; }
    .background__blackCircle--1mobile {
      display: none; }
    .background__blackCircle--2desktop {
      right: 20%;
      top: 0; }
    .background__blackCircle--2mobile {
      display: none; }
  .background__cuerposGeometricos {
    position: absolute;
    right: 18%;
    top: 25%;
    width: 50%; }
    .background__cuerposGeometricos--mobile {
      display: none; }
    .background__cuerposGeometricos--desktop {
      min-width: 50rem; }
  .background__puntos {
    position: absolute;
    right: 18%;
    top: 85%;
    width: 7rem; }
  .background__malla {
    position: absolute;
    right: 13%;
    top: 21rem; }
    .background__malla--mobile {
      display: none; }
    .background__malla--desktop {
      width: 75%; }

@media (max-width: 768px) {
  .background__cuerposGeometricos--desktop {
    display: none; }
  .background__cuerposGeometricos--mobile {
    display: inline-block;
    right: 7%;
    top: 10%;
    width: 59%;
    max-height: 67rem; }
  .background__malla--desktop {
    display: none; }
  .background__malla--mobile {
    display: inline-block;
    opacity: .1;
    top: 17%;
    right: 3rem;
    width: 80%; }
  .background__blackCircle--1desktop {
    display: none; }
  .background__blackCircle--1mobile {
    display: inline-block;
    top: 80%;
    right: 0; }
  .background__blackCircle--2desktop {
    display: none; }
  .background__blackCircle--2mobile {
    display: inline-block;
    right: 3rem;
    top: 0; } }

@keyframes whatsapp {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.2); } }



/* ///animaciones para pasar a SASS// */
    


    .header__botonContacto:hover{
      background-color: #2BEBC8;
      color: black;
      transition: 1s;
      animation-name: prueba;
      
    }

   


