:root {
  --primary: #1a1a1a;
  --secondary: #2BEBC8;
}

body {
  background-color: black;
  font-family: IBM Plex Mono;
  font-style: normal;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
